:root {
    --primary-bg: #1c1e22;
    --secondary-bg: #FF9100;
    --text-color: white;
    --accent-color: #222629;
    --body-bg: #979797; /* Body background color variable */
    --light-gray: #E7E7E7; /* Light gray for boxes */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--body-bg); 
    color: var(--text-color);
    line-height: 1.8; /* Increased line height for better readability */
}

header {
    position: sticky; 
    top: 0;
    padding: 5px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 2;
    background: linear-gradient(135deg, var(--primary-bg), var(--secondary-bg)); /* Gradient background */
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    width: 390px; 
    height: 100%; 
    background-color: var(--secondary-bg); 
    z-index: -1; 
}

.logo {
    display: flex;
    align-items: center;
    cursor: default;
}

.logo-img {
    width: 90px;
    height: auto; 
}

.logo-text {
    font-style: prismatic;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    margin-right: 6px;
}

.logo-subtext {
    font-size: 13px;
    font-weight: 800;
    color: var(--text-color);
    padding-top: 6px;
}

.container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.navbar {
    width: 220px;
    background-color: var(--accent-color);
    padding: 20px;
    position: fixed;
    top: 75px;
    height: calc(100vh - 75px);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.navbar ul li {
    margin-bottom: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Adjusted transition */
}

.navbar ul li a:hover,
.navbar ul li a.active,
.navbar ul li a:focus {
    background-color: var(--secondary-bg);
    color: black;
    outline: 2px solid var(--secondary-bg); /* Outline for focus state */
    transform: scale(1.05); /* Slight scaling on hover */
}

.content {
    flex: 1;
    padding: 40px;
    max-width: 100%;
    margin-left: 220px; 
    color: black;
    padding-bottom: 60px; 
}

h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
    border-top: 2px solid black;
    padding-bottom: 8px;
    padding-top: 10px;
}

p,
ul {
    margin-bottom: 20px;
}

pre {
    background-color: #282c34;
    white-space: pre;
    color: #ffffff;
    border-radius: 1px;
    padding: 10px;
    overflow-x: auto;
    font-size: 16px;
    margin: 0; /* Updated margin */
    font-family: monospace;
}

code {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap; /* Prevents text from overflowing */
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

li {
    margin-bottom: 10px;
    position: relative;
}

li::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.box {
    background-color: var(--light-gray);
    border: 1px solid rgba(0, 0, 0, 0.1); /* Softer border */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

.try-it-link {
    background-color: #8B8B8B;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

.try-it-link:hover {
    background-color: #AFDDE5;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        min-height: 100vh; 
    }

    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }

    .content {
        margin-left: 0;
        padding-bottom: 60px;
    }

    h2 {
        font-size: 20px; /* Slightly smaller heading on mobile */
    }
    
    .navbar ul li a {
        padding: 8px; /* Adjust padding for smaller screens */
    }
}

/* Syntax highlighting */
.keyword { color: #c678dd; }
.string { color: #98c379; }
.comment { color: #5c6370; }
.function { color: #61afef; }
